In [ ]:
Name = 'Dhruba' # string is imutable datatype

In [ ]:
Name.replace("h", 's')

In [ ]:
Name = 'Dhruba'

In [ ]:
id(Name)

In [ ]:
name = 'dhruba $$'

In [ ]:
name.replace("$", 's')

In [ ]:
greet = "Happy new year"
greet = greet.replace("Happy",'holi')
print(greet)

# upper() and lower()

In [ ]:
msg = 'HAPPY HOLI'

In [ ]:
msg.lower()

In [ ]:
text = "he please reply"

In [ ]:
text.upper()

# split()

In [ ]:
review = "i love to eat food."

In [ ]:
words = review.split(" ")

In [ ]:
words

In [ ]:
type(words) # list is an mutable datatype

# strip, Istrip(), rstrip()

In [ ]:
review = " Junk food " # double quote ma space diyo

In [ ]:
review.lstrip() # left ko space nikalne

In [ ]:
review.rstrip() # right ko space nikalne

In [ ]:
review.strip() # both side ko space nikalne

# Assignment convert letter lowercase, splits them into a list,

In [ ]:
import string

txt = "I like Orange Apple Banana and kiwi."
txt = txt.lower()  # convert to lowercase
txt = txt.translate(str.maketrans("", "", string.punctuation))  # remove punctuation
txt = txt.split()  # split into list of words
txt = [word.strip() for word in txt]  # remove extra whitespace

fruits = [word for word in txt if word in ['orange', 'apple', 'banana', 'kiwi']]
print(fruits)

In [ ]:
string1 = "NEPALINDIACHINA"
string2 = "indiachinanepal"

if len(string1) != len(string2):
    print("string2 is not a rotation of strings1")
else:
    new_string1 = string1 + string1
    if string2 in new_string1:
        print("string2 is a rotation of string1")
else:
    print("string2 is not a rotation of string1")

In [ ]:
string1 = "NEPALINDIACHINA"
string2 = "indiachinanepal"

if len(string1) != len(string2):
    print("string2 is not a rotation of string1")
else:
    
    new_string1 = string1 + string1
    if string2 in new_string1:
        print("string2 is a rotation of string1")
    else:
        print("string2 is not a rotation of string1")

# assignment: WAP to count vowel and consonants on the given string

In [ ]:
s = "hello world"

In [ ]:
vowel, consonant = 0, 0

In [ ]:
for index in range(len(s)):
    letter = s[index]
    if letter == 'a' or letter == 'e' or letter == 'o' or letter == 'u':
        vowel = vowel + 1
    elif letter == " ":
        continue
    else:
        consonant = consonant + 1

In [ ]:
vowel

In [ ]:
consonant

In [ ]:
txt = "I like Orange Apple Banana and kiwi."

In [ ]:
txt = txt.lower()

In [ ]:
txt = txt.replace('i like', '')

In [ ]:
txt = txt.replace(' and ', ' ')

In [ ]:
txt = txt.replace(".", "")

In [ ]:
txt

# python list

In [ ]:
fruits = ['orange', 'apple', 'banana', 'kiwi']

In [ ]:
type(fruits)

# list is collection of item under one variable name
* allows duplicate
* sequenced and ordered
* indexed
* mutable
* supports multiple data types

In [ ]:
list1 = [True, 0.3, 55, 'hellow']

In [ ]:
list1

In [ ]:
type(list1)

# indexing and slicing in pthon list

In [ ]:
cars = ['audi', 'Bentely', 'Mercedes', 'Rolls Royace', 'bugati', 'Ferrari']

In [ ]:
cars[0] # indexing

In [ ]:
cars[1]

In [ ]:
cars[4]

In [ ]:
cars[5]

In [ ]:
cars

# Nagative indexing

In [ ]:
cars[-1]

In [ ]:
cars[-2] # last second

In [ ]:
cars[-3]

In [ ]:
len(cars)

# len()

In [ ]:
cars

In [ ]:
cars[2:5]

In [ ]:
cars[4:6]

In [ ]:
cars[-2:] # negative indexing

In [ ]:
cars[:3]

# Loops in pyton list

In [ ]:
cars = ['audi', 'Bentely', 'Mercedes', 'Rolls Royace', 'bugati', 'Ferrari']

In [ ]:
for index in range(len(cars)):
    car = cars[index]
    print(f"The index is {index} and the car name is {car}")

In [ ]:
cars

In [ ]:
for item in cars:
    print(item)

# to take mean in python
$$\bar x=\frac{\sum{x_i}}{n}$$

In [ ]:
nums = [55, 66, 77, 25]

In [ ]:
total = 0
for number in nums:
    total = total + number
    
mean = total/len(nums)
print(mean)

In [ ]:
nums = [55, 66, 77, 25]
total = 0
for index in range(len(nums)):
    number = nums[index]
    total = total + number
mean = total/len(nums)
print(mean)

In [ ]:
mean = total/len(nums)

In [ ]:
mean

In [ ]:
fruits = ['apple', 'banana', 'mango']

In [ ]:
index = 0
fruits[index]

In [ ]:
index = 1
fruits[index]

In [ ]:
index = 2
fruits[index]

In [ ]:
item = 'apple', 'banana', 'Mango'
for index in range(len(fruits)):
    print(index)
    fruit = fruits[index]
    print(item)

# (2-mar) how to check if something is in the list or not? - Membership operators

In [ ]:
student = ['Shraddha', 'Manzil', 'Jyoti', 'Darshan', 'Rekha']

In [ ]:
'Kshitiz' in student # in and not called membership operator in python

In [ ]:
'Rekha' in student

In [ ]:
'Rekha' not in student

In [ ]:
'ram' not in student

# Python list are mutable

In [ ]:
fruits = ["apple", "mango", "orange", "pear"]

In [ ]:
fruits[1]

In [ ]:
fruits[1]

In [ ]:
fruits = ["apple", "mango", "orange", "pear"]

In [ ]:
fruits[1:3]

In [ ]:
fruits[1:3] = ['black current', 'Guava']

In [ ]:
fruits

# list method (membership operator)
* insert()

In [ ]:
fruits = ['apple', 'Black current', 'Guava', 'orange', 'kiwi', 'mango']

In [ ]:
fruits.insert(1, 'dragon fruit')

In [ ]:
fruits

# . append()

In [ ]:
# creating empty list
cars = []

In [ ]:
type(cars)

In [ ]:
cars

In [ ]:
# other way to create empty list
cars = list() # using list constructor

In [ ]:
type(cars)

In [ ]:
cars

In [ ]:
cars.append("audit")

In [ ]:
cars

In [ ]:
cars.append("Bently")

In [ ]:
cars

In [ ]:
cars.append("Mercedes")

In [ ]:
cars

# write a program to extract even number between 1 to 10 on list

In [1]:
even = []

for num in range(1,10):
    if num % 2 == 0:
        even.append(num)

In [2]:
even

[2, 4, 6, 8]

In [3]:
odd = []

for num in range(1,10):
    if num % 2 == 0:
        odd.append(num)

In [4]:
odd

[2, 4, 6, 8]

# You can append elements from another list to the current list, use the extend() method

In [5]:
a = [55,66,3]
b = [5,2,1]

In [6]:
a + b #concat the list

[55, 66, 3, 5, 2, 1]

In [8]:
a.extend(b)

In [9]:
a

[55, 66, 3, 5, 2, 1, 5, 2, 1]

In [10]:
b

[5, 2, 1]

# Remove

In [11]:
cars = ['audi', 'nano', 'mercedes', 'nano', 'audi']

In [12]:
cars.remove('nano') # removes only first occurances

In [13]:
cars

['audi', 'mercedes', 'nano', 'audi']

# .pop()

In [14]:
cars = ['audi', 'nano', 'mercedes', 'nano', 'audi']

In [15]:
cars.pop() # last in lai nikal6

'audi'

In [16]:
cars

['audi', 'nano', 'mercedes', 'nano']

In [17]:
# append() and pop() together are used to push and pop data from list
# therfore list can be used as stack data structure

In [19]:
cars = ['audi', 'nano', 'mercedes', 'nano', 'audi']

In [20]:
cars.pop(2)

'mercedes'

In [21]:
cars

['audi', 'nano', 'nano', 'audi']

# Sorting of list

In [24]:
nums = [-2, -11, 44, 5, 7, 99, -8]

In [25]:
num.sort()

AttributeError: 'int' object has no attribute 'sort'

In [26]:
nums

[-2, -11, 44, 5, 7, 99, -8]

In [27]:
nums = [-2, -11, 44, 5, 7, 99, -8]
nums.sort(reverse=True)
nums

[99, 44, 7, 5, -2, -8, -11]

In [28]:
nums = [-2, -11, 44, 5, 7, 99, -8]
sorted(nums)

[-11, -8, -2, 5, 7, 44, 99]

In [29]:
nums

[-2, -11, 44, 5, 7, 99, -8]

In [30]:
nums = [-2, -11, 44, 5, 7, 99, -8]
sorted(nums, reverse = True)

[99, 44, 7, 5, -2, -8, -11]

In [31]:
# write a program to find square of numbers between1 and 15
# write a program to find cube of a number between 1 to 15
# write a program to store lower case value of given list
# fruits = ['apper', 'banana', 'mango', 'orange']

In [1]:
fruits = ['Apple', 'Banana', 'Mango', 'Orange']

In [2]:
lowered_fruits = []
for item in fruits:
    item = item.lower()
    lowered_fruits.append(item)

In [3]:
lowered_fruits

['apple', 'banana', 'mango', 'orange']

In [7]:
[i.lower() for i in fruits]

['apple', 'banana', 'mango', 'orange']

# square and cube of number

In [8]:
sq = []
cube = []
for num in range(1, 15):
    sq.append(num**2)

In [9]:
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [12]:
cube = []
cube = []
for num in range(1, 15):
    cube.append(num**3)

In [13]:
cube

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744]

# Using list comprehension

In [14]:
[index**2 for index in range(1, 15)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [15]:
[index**3 for index in range(1, 15)]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744]

```python
[index**2 for index in range(1, 15)] ```

[ Expression is terrible]

In [18]:
%%time
for i in range(15000):
    plus_1 = i + 1

Wall time: 5.46 ms

In [21]:
%time [i+1 for i in range(7000)]

Wall time: 885 µs

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 ...]

# list comprehension with if
### Accept only numbers lower than 5 from range -5 to 10

In [23]:
lt5 = []
for index in range(-5, 10):
    if index < 5:
        lt5.append(index)

In [24]:
lt5

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [28]:
[index for index in range(-5, 10) if index < 5]

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

# Accept item that are not apple

In [29]:
fruits = ['apple', 'banana', 'apple', 'mango']

In [30]:
[item for item in fruits if item != 'apple' ] # != called not equal

['banana', 'mango']

# list comprehension with if and else statement 
<img src = "https://www.google.com/search?q=list+comprehension+python&sxsrf=AJOqlzXQVLaoa6K4BnNDKHPszNJk0KiWrA:1677980422943&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiiwLKY1MP9AhWbTGwGHUdbABYQ0pQJegQIBhAC&biw=762&bih=593&dpr=1.5#imgrc=LYQttfwlKLvVrM" >
```python expression if true else Expression for item in teribles`

In [31]:
[0 if x<= 0 else x for x in range(-15, 15)]

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14]