In [ ]:
a =5 
b = 2
c=a+b
print(c)

In [ ]:
def add_two_numbers():
    a =5 
    b = 2
    c=a+b
print(c)

# return statement

In [ ]:
def add_two_numbers(a, b):
    c = a+b
    return c

In [ ]:
total = add_two_numbers(a=5, b = -55)

In [ ]:
total

In [33]:
total ** 2

25

# Write a program to calculate volume of a sphere
$$v = \frac{4}{3} \pi r^3$$

In [35]:
type(return)

SyntaxError: invalid syntax (1493432099.py, line 1)

In [1]:
def cal_volume(radius): # radius is argument or parameter
    PI = 3.14
    return 4/3 * PI * radius**3

In [2]:
radius = int(input("Enter radius of a sphere: "))
volume = cal_volume(radius)
print(f"Volume of a sphere is {round(volume, 2)}")

Enter radius of a sphere: 5
Volume of a sphere is 523.33

# Default vs non-default argument in python

In [3]:
def greet(name, msg):
    print(f"Hi, {name} {msg}")

In [5]:
greet(name="shraddha_bastola", msg='Good Morning')

Hi, shraddha_bastola Good Morning

In [6]:
def greet(name, msg="Good Morning"): # msg is a default argument
    print(f"Hi, {name} {msg}")

In [7]:
greet(name="Dhruba") # greet is user define function

Hi, Dhruba Good Morning

In [8]:
greet(name='Sharaddha')

Hi, Sharaddha Good Morning

In [9]:
greet(name='shraddha', msg="Good Afternoon") # default argument gets overwritten

Hi, shraddha Good Afternoon

# non default argument

In [10]:
def greet(msg="Good Morning", name): msg is a default argument and name is non-default argument (defualt argument backma rakne)
    print(f"Hi, {name} {msg}")

SyntaxError: non-default argument follows default argument (2831036846.py, line 1)

# Local and Gloval scope of variable

In [13]:
x = 'awesome'
def my_function():
    x = 'Fantastic'
    lang = 'Python'
    print(f"{x} {lang}")

In [14]:
x

'awesome'

In [15]:
lang

NameError: name 'lang' is not defined

In [16]:
my_function()

Fantastic Python

In [17]:
x

'awesome'

In [18]:
lang # lang is local variable of function it is unknown outside of area

NameError: name 'lang' is not defined

In [19]:
x = 'awesome'
def my_function():
    global x
    global lang
    x = 'Fantastic'
    lang = 'Python'
    print(f"{x} {lang}")

In [20]:
my_function()

Fantastic Python

In [ ]:
lang # global garepasi lang lai chinyo

# Assignment for function

classwork: write a python function to calculate the factorial
* 0! = 1
* 1! = 1
* 2! = 2 * 1! = 2
* 3! = 3 * 2! = 6
* 4! = 4 * 3! = 24
* 5! = 5 * 4! = 120

# Multiple return values in function

In [23]:
def arithmatic_op(x, y):
    total = x + y
    diff = x - y
    mul = x * y
    return total, diff, mul

In [24]:
arithmatic_op(2, 3)

(5, -1, 6)

In [28]:
total, difference, multiplication = arithmatic_op(2, 3)

In [29]:
total

5

In [31]:
difference

-1

In [32]:
multiplication

6

## Assignment

* Write a Python program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically.
* Sample items: green-red-yellow-black-white
* Expected Result: black-green-red-white-yellow

In [2]:
words = input("Enter hyphen-separated sequence of words: ")
word_list = words.split("-") # Split input into list of words
word_list.sort() # sort the list alphbetically
sorted_words = "-".join(word_list) # Join the sorted words with hyphens
print(sorted_words)

Enter hyphen-separated sequence of words: green-red-yellow-black-white
black-green-red-white-yellow

In [16]:
text = 'green-red-yellow-black-white' # 2nd method

In [17]:
words = text.split("-")

In [18]:
words

['green', 'red', 'yellow', 'black', 'white']

In [19]:
words.sort()

In [20]:
words

['black', 'green', 'red', 'white', 'yellow']

In [21]:
"-".join(words)

'black-green-red-white-yellow'

In [23]:
def sort_input(text):
    words = text.split("-")
    words.sort()
    return "-".join(words)

In [24]:
sort_input(text=text)

'black-green-red-white-yellow'

# input number is prime or not if prime return true else return false

In [7]:
def is_prime(num):
    for i in range(2, num//2 + 1, 1): # this process can be check higher number
        if num % i == 0:
            return False
        return True

In [8]:
is_prime(4)

False

In [9]:
is_prime(5)

True

## Classwork: Write a Python function to calculate the factorial of the factorial of a no-negative integer

In [10]:
def factorial (num):
    fact = 1
    if num == 0 or num == 1:
        return fact
    else:
        for number in range(2, num + 1):
            fact = fact * number
        return fact

In [13]:
factorial(0), factorial(1), factorial(2), factorial(3), factorial(4), factorial(5)

(1, 1, 2, 6, 24, 120)

In [12]:
factorial(0)

1

# Write a python function that accepts a string and calculate the number of upper-case letters and lower-case letters

In [14]:
def count_upper_lower(string):
    upper = 0
    lower = 0
    for letter in string:
        if letter.isupper():
            upper = upper + 1
        elif letter == " ":
            continue
        elif letter.islower():
            lower = lower + 1
        return upper, lower

In [15]:
count_upper_lower("Hello world")

(1, 0)