# Dictionary
* mapping data Type
* syntax:
```python {
key: value
    }```
    *no duplicate key

# Creating empty dictionary

In [1]:
about ={}

In [2]:
type(about)

dict

In [3]:
about = dict() # alternative way

In [4]:
type(about)

dict

# Adding key value pairs in dictionary

In [5]:
about = {}

In [6]:
about['name'] = 'Dhruba' # add key value pair

In [7]:
about

{'name': 'Dhruba'}

In [8]:
about.update({'works_at':"Broadway infosys"}) # other way to ad key value pair

In [9]:
about

{'name': 'Dhruba', 'works_at': 'Broadway infosys'}

In [10]:
about['teaches'] = ['Python', 'Data Science', 'Mechine Learning', 'AI', 'Deep learning']

In [11]:
about

{'name': 'Dhruba',
 'works_at': 'Broadway infosys',
 'teaches': ['Python',
  'Data Science',
  'Mechine Learning',
  'AI',
  'Deep learning']}

In [12]:
about['age'] = 50

In [13]:
about

{'name': 'Dhruba',
 'works_at': 'Broadway infosys',
 'teaches': ['Python',
  'Data Science',
  'Mechine Learning',
  'AI',
  'Deep learning'],
 'age': 50}

# .update() method adds key value pair if key does not exist if the key exists it updates the value

In [14]:
about.update({'name': 'Dhruba Karki'})

In [15]:
about

{'name': 'Dhruba Karki',
 'works_at': 'Broadway infosys',
 'teaches': ['Python',
  'Data Science',
  'Mechine Learning',
  'AI',
  'Deep learning'],
 'age': 50}

# Create a dictionary with key as country name and value as its capital

In [16]:
country = {
    'Nepal': 'Kathmandu', 
    'India': 'New Delhi', 
    'Bangladesh': 'Dhaka', 
    'china': 'Bejing'
}

In [17]:
country

{'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'Bangladesh': 'Dhaka',
 'china': 'Bejing'}

In [18]:
country.update({'Bhutan': 'Thimpu'})

In [19]:
country

{'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'Bangladesh': 'Dhaka',
 'china': 'Bejing',
 'Bhutan': 'Thimpu'}

In [20]:
country

{'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'Bangladesh': 'Dhaka',
 'china': 'Bejing',
 'Bhutan': 'Thimpu'}

In [21]:
num = {
    1: "one",
    2: "Two",
    3: "Three"
}

In [22]:
num

{1: 'one', 2: 'Two', 3: 'Three'}

In [23]:
{
    ['one', 'two']
}

TypeError: unhashable type: 'list'

# Accessing vales of a key

In [24]:
Country = {'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'Bangladesh': 'Dhaka',
 'china': 'Bejing',
 'Bhutan': 'Thimpu'}

In [25]:
country['Nepal']

'Kathmandu'

In [26]:
country.get('India')

'New Delhi'

In [27]:
list(country)

['Nepal', 'India', 'Bangladesh', 'china', 'Bhutan']

# what are my keys and values

In [28]:
country

{'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'Bangladesh': 'Dhaka',
 'china': 'Bejing',
 'Bhutan': 'Thimpu'}

In [29]:
country.keys()

dict_keys(['Nepal', 'India', 'Bangladesh', 'china', 'Bhutan'])

In [30]:
list(country.keys())

['Nepal', 'India', 'Bangladesh', 'china', 'Bhutan']

In [31]:
country.values()

dict_values(['Kathmandu', 'New Delhi', 'Dhaka', 'Bejing', 'Thimpu'])

In [32]:
list(country.values())

['Kathmandu', 'New Delhi', 'Dhaka', 'Bejing', 'Thimpu']

In [33]:
country.items()

dict_items([('Nepal', 'Kathmandu'), ('India', 'New Delhi'), ('Bangladesh', 'Dhaka'), ('china', 'Bejing'), ('Bhutan', 'Thimpu')])

# tuple unpacking

In [34]:
a, b = (3,4)

In [35]:
a

3

In [36]:
b

4

# looping in dictionary

In [37]:
country = {'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'Bangladesh': 'Dhaka',
 'china': 'Bejing',
 'Bhutan': 'Thimpu'}

In [38]:
country.items()

dict_items([('Nepal', 'Kathmandu'), ('India', 'New Delhi'), ('Bangladesh', 'Dhaka'), ('china', 'Bejing'), ('Bhutan', 'Thimpu')])

In [39]:
for key, value in country.items():
    print(key)

Nepal
India
Bangladesh
china
Bhutan

In [40]:
for key, value in country.items():
    print(value)

Kathmandu
New Delhi
Dhaka
Bejing
Thimpu

In [41]:
for key, value in country.items():
    print(f'Your country is {key} and your capital city is {value}')

Your country is Nepal and your capital city is Kathmandu
Your country is India and your capital city is New Delhi
Your country is Bangladesh and your capital city is Dhaka
Your country is china and your capital city is Bejing
Your country is Bhutan and your capital city is Thimpu

# pop(key)

In [43]:
country

{'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'Bangladesh': 'Dhaka',
 'china': 'Bejing',
 'Bhutan': 'Thimpu'}

In [44]:
country.pop('China')

KeyError: 'China'

In [45]:
country.pop('china')

'Bejing'

# Dictionary comprehension
* write a program to swap key value pair from given dictionary

In [46]:
country = {'Nepal': 'Kathmandu',
 'India': 'New Delhi',
 'Bangladesh': 'Dhaka',
 'china': 'Bejing',
 'Bhutan': 'Thimpu'}

In [47]:
{val: key for key, val in country.items()}

{'Kathmandu': 'Nepal',
 'New Delhi': 'India',
 'Dhaka': 'Bangladesh',
 'Bejing': 'china',
 'Thimpu': 'Bhutan'}

# Nested Dictionary

In [49]:
children= {
    "child1": {"name": "Emil", "year": 2004},
    "child2": {"name": "Tobias", "year": 2007},
    "child3": {"name": "Linus", "year": 2011}
}

In [50]:
children

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [51]:
for key, value in country.items():
    print(key)

Nepal
India
Bangladesh
china
Bhutan

In [54]:
for key, value in children.items():
    print(value)

{'name': 'Emil', 'year': 2004}
{'name': 'Tobias', 'year': 2007}
{'name': 'Linus', 'year': 2011}

In [57]:
for key, value in children.items():
    child_name = value.get('name')
    print(child_name)

Emil
Tobias
Linus

In [59]:
for key, value in children.items():
    child_year = value.get('year')
    print(child_year)

2004
2007
2011