In [2]:
x = None

In [4]:
x == 0

False

In [5]:
x == False

False

In [6]:
type(x)

NoneType

# Only None can be None

In [7]:
x = None

In [8]:
x == None # it is not to do

True

# identiry operator in python

In [9]:
x = None

In [10]:
x is None # preferred way use this syntax to compare none

True

In [11]:
id(x)

140725593357528

In [12]:
id(None)

140725593357528

In [14]:
x = None

In [15]:
print(x is None)

True

In [16]:
print(x is not None)

False

In [17]:
print(x is float)

False

# tuple 
* collection of item under one variable name 
* Immutable
* allows duplicate
* indexed

In [19]:
cars = ('Audi', 'BMW', 'Mercedes')

In [20]:
cars

('Audi', 'BMW', 'Mercedes')

In [21]:
type(cars)

tuple

# Indexing and slicing in tuple

In [22]:
cars[0]

'Audi'

In [23]:
cars[2]

'Mercedes'

In [24]:
cars[:2]

('Audi', 'BMW')

In [25]:
cars[1:]

('BMW', 'Mercedes')

# loops in tuple

In [26]:
cars = ('Tesla','Audi','BMW','Mercedes')

In [27]:
for index in range(len(cars)):
    car = cars[index]
    print(car)

Tesla
Audi
BMW
Mercedes

In [28]:
for item in cars:
    print(item)

Tesla
Audi
BMW
Mercedes

# Tupes are immutable

In [29]:
cars = ('Tesla','Audi','BMW','Mercedes')

In [30]:
cars[0]

'Tesla'

In [31]:
cars[0] = 'Ferrai'

TypeError: 'tuple' object does not support item assignment